<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aula 01 - VueJS</title>
</head>
<body>

    <div id="app">
        <h1 v-show  ="status">{{ titulo }}</h1>
        <label for="">Informe seu nome</label>
        <input type="text" v-model="nome"> {{nome}}

        <br><br>
        <label for="">Deseja receber informações por e-mail?</label>
        <input type="radio" value="sim" v-model="info"> Sim
        <input type="radio" value="nao" v-model="info"> Não

        <br><br>
        <label for="">Seus interesses</label>
        <input type="checkbox" value="vasco" v-model="interesses"> Vasco
        <input type="checkbox" value="formula-1" v-model="interesses"> Fórmula 1
        <input type="checkbox" value="corrida" v-model="interesses"> corrida

        <br><br>
        <label for="">Como nos conheceu?</label>
        <select v-model="conheceu">
            <option value="">Escolha</option>
            <option value="google">Google</option>
            <option value="fodase">Foda-se</option>
        </select>

        <br><br>
        Nome: {{nome}} <br>
        Informações: {{info}} <br>
        Interesses: {{interesses}} <br>
        Conheceu: {{conheceu}}


    </div>

    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                titulo: "Aula 01 - VueJS",
                nome: "",
                info: "",
                interesses: new Array(),
                conheceu: ""

            }
        });
    </script>
</body>
</html>